

body {
    margin: 0;
}

.total_content {
    background-color: gray;
    height: 100vh;
}

.main_container {
    width: 50vw;
    background-color: white;
    margin: 10px auto;
    padding: 20px 0;
}

h1 {
    text-align: center;
    margin: 0;
    padding: 5vh 0;
    color: var(--main-color);
}

.search_container {
    text-align: center;
    padding-top: 5px;
}

.search_container {
    margin-bottom: 65px;
}
.report_search_sumit {
    height: 25px;
    position: relative;
    top: 1px;
    background-color: rgb(254, 213, 23);
    border: 1px solid rgb(182, 182, 182);
}
.report_search {
    display: inline-block;
    position: relative;
    left: 80px;
    top: 20px;
}
.total_report_cnt_box {
    position: relative;
    top: 45px;
    left: 100px;
    font-size: 12px;
    color: rgb(184, 184, 184);
}

.total_report_cnt {
    color: rgb(253, 84, 84);
    font-size: 14px;
}
.report_tb {
    padding: 0;
    border-top: 1px solid rgb(44, 44, 44);
    border-bottom: 1px solid rgb(44, 44, 44);
    width: 100%;
    position: relative;
    top: -17px;
    border-collapse: collapse;
    text-align: center;
}
table.report_tb th,
td {
    /* border-bottom: 1px solid gray; */
    padding: 0;
    margin: 0;
}
.report_tb td a {
    text-decoration: none;
    color: rgb(61, 61, 61);
}

.report_tb th {
    height: 35px;
    color: rgb(53, 52, 52);
    border-bottom: 1px solid rgb(202, 202, 202);
}
.report_tb td {
    border-bottom: 1px solid rgb(235, 235, 235);
    height: 35px;
}
.report_tb th a {
    color: rgb(80, 80, 80);
}
td.title {
    text-align: left;
    font-size: 14px;
}

.page_bar {
    text-align: center;
    color: var(--main-color);
    font-size: 25px;
}

